<footer class="h-[26vh] mx-[10rem] max-md:mx-8 max-md:h-auto pb-8 font-poppins">
    <nav class="flex justify-center items-center h-[17vh]">
        <div class="nav-links-container">
            <ul class="nav-links flex gap-8 list-none text-xl max-md:flex-col max-md:items-center max-md:gap-4">
                <li><a routerLink="/home" fragment="about"
                        class="text-black hover:text-gray-400 hover:underline underline-offset-[1rem] decoration-gray-300 transition-all duration-300">À
                        propos</a>
                </li>
                <li><a routerLink="/home" fragment="experience"
                        class="text-black hover:text-gray-400 hover:underline underline-offset-[1rem] decoration-gray-300 transition-all duration-300">Expérience</a>
                </li>
                <li><a routerLink="/home" fragment="projects"
                        class="text-black hover:text-gray-400 hover:underline underline-offset-[1rem] decoration-gray-300 transition-all duration-300">Projets</a>
                </li>
                <li><a routerLink="/home" fragment="contact"
                        class="text-black hover:text-gray-400 hover:underline underline-offset-[1rem] decoration-gray-300 transition-all duration-300">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <p class="text-center text-gray-500">Copyright &#169; {{ year }} zaixPortfolio. Tous droits réservés.</p>
</footer>