<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 font-poppins">
    <div class="max-w-md w-full space-y-8 bg-white p-10 rounded-[2rem] border border-[#a3a3a3] shadow-sm">
        <div>
            <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">Connexion</h2>
            
        </div>
        <form class="mt-8 space-y-6" (ngSubmit)="onSubmit()">
            <div class="rounded-md shadow-sm -space-y-px">
                <div class="mb-4">
                    <label for="username" class="sr-only">Username</label>
                    <input id="username" name="username" type="text" required [(ngModel)]="username"
                        class="appearance-none rounded-t-[1rem] rounded-b-[1rem] relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm"
                        placeholder="Username">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" required [(ngModel)]="password"
                        class="appearance-none rounded-t-[1rem] rounded-b-[1rem] relative block w-full px-3 py-4 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-black focus:border-black focus:z-10 sm:text-sm"
                        placeholder="Password">
                </div>
            </div>

            <div *ngIf="errorMessage" class="text-red-500 text-sm text-center">
                {{ errorMessage }}
            </div>

            <div>
                <button type="submit"
                    class="group relative w-full flex justify-center py-4 px-4 border border-transparent text-sm font-bold rounded-[2rem] text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black transition-all duration-300">
                    Se Connecter    
                </button>
            </div>

            
        </form>
    </div>
</div>